@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(217, 54%, 11%);
    font-family:'Outfit', sans-serif; ;
}
.main{
    width: 300px;
    margin: 7rem auto;
    background-color: hsl(216, 50%, 16%);
    border-radius: 0.7rem;
}
.image{
    background: url(images/image-equilibrium.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 280px;
    width: 275px;
    position: relative;
    top: 0.7rem;
    margin: 0 0.3rem 1rem 0.8rem;
    border-radius: 0.5rem;
}
.eye{
    position: absolute;
    top:45%;
    right:40%;
}

.passage h1{
    font-size: 22px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    padding: 0.7rem 1rem 0.7rem 1rem;
}
.passage p{
    padding:0.3rem 1rem;
    font-weight: 400;
    font-size: 16px;
    color: hsl(215, 51%, 70%); 
}
.eth{
    display: flex;
    justify-content: space-between;
    padding:1rem 1rem 1.5rem;
}
.eth p{
    display: flex;
    justify-content: space-evenly ;
    color: hsl(178, 100%, 50%);
    font-size: 16px;
    font-weight: 400;
}
.eth p:last-of-type{
    color: hsl(215, 51%, 70%);
    font-size: 16px;
    font-weight: 400;
}
.eth{
    border-bottom: 1px solid hsl(215, 32%, 27%);
    margin:0 1rem;
}

.jules img{
    padding: 1rem;
    max-width: 80px;
}
.main .jules  {
    display: flex;

}
.jules p{
    padding-top: 1.8rem;
    color: hsl(215, 51%, 70%);
}
.jules span{
    color: hsl(0, 0%, 100%);
}
@media screen and (min-width: 600px){
    .image:hover {
        cursor: pointer;
        background:hsl(178, 100%, 50%);
   } 
    .passage h1:hover{
        cursor: pointer;
        color: hsl(178, 100%, 50%);
    }
    .jules span:hover{
        color: hsl(178, 100%, 50%);
        cursor: pointer;
    }

}

    
